<section>
  <div class="container" >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div
          class="card text-white"
          id="carta-login"
          style="border-radius: 1rem"
        >
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Bienvenid@</h2>
              <p class="text-white-50 mb-5">
                Por favor, Introduce tus datos.
              </p>
              <form [formGroup]="form" (submit)="submit()">
                <div class="form-outline form-white mb-4">
                  <div class="text-aviso" *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">
                    El correo electrónico es obligatorio.
                  </div>
                  <div class="text-aviso" *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">
                    Por favor, introduce un correo electrónico válido.
                  </div>
                  <input
                    formControlName="email"
                    type="email"
                    id="typeEmailX"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="typeEmailX">Email</label>
                  
                </div>
                <div class="form-outline form-white mb-4">
                  <div class="text-aviso" *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched">
                    La contraseña es obligatoria.
                  </div>
                  <div class="text-aviso" *ngIf="form.get('password')?.hasError('minlength') && form.get('password')?.touched">
                    La contraseña debe tener al menos 8 caracteres.
                  </div>
                  <input
                    formControlName="password"
                    type="password"
                    id="typePasswordX"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="typePasswordX">Contraseña</label>
                  
                </div>
                <button class="btn btn-outline-light btn-lg px-5" type="submit">
                  Iniciar Sesión
                </button>
              </form>
            </div>

            <div>
              <p class="mb-0">
                No tienes una cuenta?
                <a href="#!" class="text-white-50 fw-bold">Registrarse</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
